@import "tailwindcss";

@layer base {
  html, body, #root {
    @apply h-full w-full overflow-hidden;
    touch-action: none;
  }
  
  button {
    touch-action: manipulation;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
